openapi: 3.2.0
info:
  title: DecoNetwork JSON Purchase Orders API
  version: '1.0'
  description: Public JSON API for DecoNetwork, the web-to-print and business-management platform for custom apparel decorators and print shops.
  contact:
    name: DecoNetwork Developer Resources
    url: https://www.deconetwork.com/developer-resources/
servers:
- url: https://www.deconetwork.com
  description: DecoNetwork API host. In practice each merchant operates on their own DecoNetwork site domain; substitute your site host as documented.
security:
- credentials: []
tags:
- name: Purchase Orders
paths:
  /api/json/manage_purchase_orders/find:
    get:
      operationId: findPurchaseOrders
      summary: Search purchase orders
      description: Retrieve a list of purchase orders based on search parameters. Returns up to 100 rows per request.
      tags:
      - Purchase Orders
      parameters:
      - name: username
        in: query
        required: true
        schema:
          type: string
      - name: password
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: JSON list of purchase orders with a response_status object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /api/json/manage_purchase_orders/receive_stock:
    post:
      operationId: receiveStock
      summary: Receive stock
      description: Record stock receipt against purchase orders and customer orders.
      tags:
      - Purchase Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - username
              - password
              properties:
                username:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: JSON result with a response_status object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  schemas:
    ResponseStatus:
      type: object
      properties:
        code:
          type: integer
          description: Status code (10001 indicates SUCCESS; 30001+ indicate ERROR/WARNING).
        severity:
          type: string
          enum:
          - SUCCESS
          - ERROR
        description:
          type: string
          description: Human-readable detail, present on errors.
    ApiResponse:
      type: object
      description: Standard DecoNetwork JSON envelope.
      properties:
        response_status:
          $ref: '#/components/schemas/ResponseStatus'
  securitySchemes:
    credentials:
      type: apiKey
      in: query
      name: username
      description: DecoNetwork authenticates each request with username and password fields passed as query parameters (GET/POST) or in the form-encoded body. Both fields are required on every request.
